.about-section {
  padding: 100px 0;
}

.col-md-6 p {
  text-align: justify;
  text-indent: 2rem;
}

.about-image {
  border-radius: 8px;
}

@media (max-width: 767px) {
  .about-section {
    padding: 50px 0;
  }

  .col-md-6 p {
    text-indent: 1rem;
  }
}

@media (max-width: 575.98px) {
  .col-md-6 {
    text-align: center;
  }

  .col-md-6 p {
    text-indent: 0;
  }

  .about-image {
    margin-top: 20px;
  }
}
